<!DOCTYPE html>
<html>
  <head>
    <title>Habit List</title>
  </head>
  <body>
    <h1>My Habits</h1>
    <div class="List-main">
      <div>
        <form method="POST" action="/habits">
          <label for="category">Category:</label>
          <select id="category" name="category">
            <option value="gym">Gym</option>
            <option value="exercise">Exercise</option>
            <option value="play">Play</option>
            <option value="swimming">Swimming</option>
            <option value="study">Study</option>
            <option value="walking">Walking</option>
            <option value="custom">Custom</option>
          </select>

          <div id="custom-category" style="display: none">
            <label for="custom-category-name">Custom Category Name:</label>
            <input
              type="text"
              id="custom-category-name"
              name="custom-category-name"
            />
          </div>

          <br />

          <label for="name">Habit Name:</label>
          <input type="text" id="name" name="name" /><br /><br />
          <button type="submit">Add Habit</button>
        </form>
      </div>
      <div>
        <% if (habits.length > 0) { %>
        <table>
          <thead>
            <tr>
              <th>Name</th>
              <th>Status</th>
              <th>Action</th>
            </tr>
          </thead>
          <tbody>
            <% habits.forEach((habit) => { %>
            <tr>
              <td>
                <a href="/habit/<%= habit._id %>"> <%= habit.name %> </a>
              </td>
              <td><%= habit.status %></td>
              <td>
                <a href="/habit/<%= habit._id %>">View Details</a>
              </td>
            </tr>
            <% }) %>
          </tbody>
        </table>
        <% } else { %>
        <p>You have no habits yet.</p>
        <% } %>
      </div>
    </div>
    <script>
      const customCategory = document.getElementById("custom-category");
      const categoryDropdown = document.getElementById("category");

      categoryDropdown.addEventListener("change", () => {
        if (categoryDropdown.value === "custom") {
          customCategory.style.display = "block";
        } else {
          customCategory.style.display = "none";
        }
      });
    </script>
  </body>
</html>
