<div class="main">
  <div class="container">
    <div class="welcome-div">
      <h2>Welcome</h2>
      <p>
        Small daily habits lead to big changes over time - Habitzone helps you
        cultivate those habits.
      </p>
      <div class="signin-div">
        <p>
          <strong><a href="/sign-in">Sign In</a> </strong>
        </p>
        <p>
          <strong><a href="/sing-in-google"> Sign In With Google</a></strong>
        </p>
      </div>
    </div>
    <div class="form-div">
      <h4>Ready To Fill The Form</h4>
      <form action="/create-user" method="post">
        <div>
          <label for="name">Name:</label>
        </div>
        <div>
          <input type="text" name="name" placeholder="Enter Your Name here" />
        </div>
        <div>
          <label for="email">Email:</label>
        </div>
        <div>
          <input
            type="email"
            name="email"
            placeholder="Enter Your Email here"
          />
        </div>
        <div>
          <label for="password">Password:</label>
          <input
            type="password"
            name="password"
            placeholder="Enter Your password here"
          />
        </div>
        <div>
          <label for="confirm-password">Confirm Password:</label>

          <input
            type="password"
            name="confirm-password"
            placeholder="Confirm Your password here"
            required
          />
        </div>
        <div>
          <button class="submit-form">Submit</button>
        </div>
      </form>
    </div>
  </div>
</div>
