<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title><%= title %></title>
    <link rel="stylesheet" type="text/css" href="/css/home.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Lato:wght@100;300;700&family=Poppins:ital,wght@0,300;0,800;1,100&display=swap"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/noty/3.1.4/noty.min.css"
    />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/noty/3.1.4/noty.min.js"></script>

    <link rel="stylesheet" type="text/css" href="/css/habitList.css" />
    <link rel="stylesheet" type="text/css" href="/css/habitLog.css" />
  </head>
  <body>
    <main><%- body %></main>
    <%- include('footer'); -%>
    <script src="/js/main.js"></script>
  </body>
</html>
