<div class="main">
  <h2><%= title %></h2>
  <div class="form-div">
    <h4>Ready To Fill The Form</h4>
    <form action="/signIn-user" method="post">
      <div>
        <label for="email">Email:</label>
      </div>
      <div>
        <input type="email" name="email" placeholder="Enter Your Email here" />
      </div>
      <div>
        <label for="password">Password:</label>
      </div>
      <div>
        <input
          type="password"
          name="password"
          placeholder="Enter Your password here"
        />
      </div>

      <div>
        <button class="submit-form">Submit</button>
      </div>
    </form>
  </div>

  <div class="signin-div">
    <p>
      <strong><a href="/sing-in-google"> Sign In With Google</a></strong>
    </p>
  </div>
</div>
